<!DOCTYPE html>
<html>
<head>
	{% if title %}	
	<title> {{title}} - OJ</title>
	{% else %}
	<title> Welcome to OJ</title>
	{% endif %}
</head>
<body>
	<div> 
		Judge : <a href="/index1">Home</a> 
		&nbsp &nbsp &nbsp <a href="/problems"> Problems </a>
	</div>
	<hr>
	{% with messages=get_flashed_messages() %}
		{% if messages %}
			<ul>
			{% for message in messages %}
				<li> {{message}} </li>
			{% endfor %}
			</ul>
		{% endif %}
	{% endwith %}

	{%block content %}{% endblock %}
</body>
</html>