<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">-->
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <script src="bootstrap/jquery.js"></script>
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>-->
    <!--<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>-->
    <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
    <style>
    h4{color:rgba(0,0,0,0.5);
      font-family: Impact, Haettenschweiler, 'Franklin Gothic Bold', Charcoal, 'Helvetica Inserat', 'Bitstream Vera Sans Bold', 'Arial Black', 'sans serif';
      font-style: bold;
      font-size: 30px;
      font-variant: small-caps;
      font-weight: 400;
      text-align: center;}
    </style>

    </head>
    <body >
    <div class="container-fluid">


    <div class="row">
    <div class="col-md-10 well well-lg">
    <h4>SOME ALGORITHM TUTORIALS</h4>
    </div>
    <div class="col-md-2">
    <a href="javascript:history.back()"><h4><span class="glyphicon glyphicon-backward"></span>Previous Page</h4></a>
    </div>
    
    </div>
    
    <div class="row">
    
    <div class="well well-lg col-lg-4">
    <iframe src="http://www.youtube.com/embed/Xithigfg7dA" width="430" height="400">
    </iframe>
    </div>

<div class="well well-lg col-lg-4">
    <iframe src="http://www.youtube.com/embed/FkTybqcX-Yo" width="430" height="400">
    </iframe>
    </div>
    

<div class="well well-lg col-lg-4">
    <iframe src="http://www.youtube.com/embed/owgrkAQ-Log" width="430" height="400">
    </iframe>
    </div>

    </div>


<div class="row">
    
    <div class="well well-lg col-lg-4">
    <iframe src="http://www.youtube.com/embed/IJBnK2wNQSo" width="430" height="400">
    </iframe>
    </div>

<div class="well well-lg col-lg-4">
    <iframe src="http://www.youtube.com/embed/RhFMIRuHAL4" width="430" height="400">
    </iframe>
    </div>
    

<div class="well well-lg col-lg-4">
    <iframe src="http://www.youtube.com/embed/jckXscMwIOI" width="430" height="400">
    </iframe>
    </div>

    </div>


<div class="row">
    
    <div class="well well-lg col-lg-4">
    <iframe src="http://www.youtube.com/embed/3AsOdX7NcJs" width="430" height="400">
    </iframe>
    </div>

<div class="well well-lg col-lg-4">
    <iframe src="http://www.youtube.com/embed/InqU8CLwbPg" width="430" height="400">
    </iframe>
    </div>
    

<div class="well well-lg col-lg-4">
    <iframe src="http://www.youtube.com/embed/iCW0iKDwEzE" width="430" height="400">
    </iframe>
    </div>

    </div>


<div class="row">
    
    <div class="well well-lg col-lg-4">
    <iframe src="http://www.youtube.com/embed/oYiT-vLjhC4" width="430" height="400">
    </iframe>
    </div>

<div class="well well-lg col-lg-4">
    <iframe src="http://www.youtube.com/embed/0WWzgGyAH6Y" width="430" height="400">
    </iframe>
    </div>
    

<div class="well well-lg col-lg-4">
    <iframe src="http://www.youtube.com/embed/7Eae9D8J9FA" width="430" height="400">
    </iframe>
    </div>

    </div>


<div class="row">
    
    <div class="well well-lg col-lg-4">
    <iframe src="http://www.youtube.com/embed/ncvFAm4kYCo" width="430" height="400">
    </iframe>
    </div>

<div class="well well-lg col-lg-4">
    <iframe src="http://www.youtube.com/embed/2gvreP74cuw" width="430" height="400">
    </iframe>
    </div>
    

<div class="well well-lg col-lg-4">
    <iframe src="http://www.youtube.com/embed/PLLQK9la6Go" width="430" height="400">
    </iframe>
    </div>

    </div>



    </div>

    </body>
    </html>